h1 {text-align: center;
    background-color: palevioletred;
}
h3{
    text-align: center;
}
.blue{
    text-align: center;
    font-size: small;
    font-family: serif;
    background-image: url("myphoto/background.jpg.jpg")
}
body{
    

    
    
}